# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output.classpath
/target/
*/target/**
**/META-INF/
!.mvn/wrapper/maven-wrapper.jar
*/.svn/*
*/.svn/**
# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.svn
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

